<ion-list *ngIf="qr">
  <ion-item *ngIf="sms.numbers && sms.numbers.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title class="details-title">To</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text class="details-text" [innerHTML]="phoneNumbersAsLink(sms.numbers)"></ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item *ngIf="sms.message && sms.message !== ''">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title class="details-title">Message</ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text class="details-text"><span class="details-text-with-line-breaks" [innerHTML]="sms.message"></span></ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
