<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="scanner">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Scanner</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="star"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
