<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <app-qr-list-sort-button (sortTypeChanged)="loadSaved($event)"></app-qr-list-sort-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/tabs/about">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Saved QR codes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="savedCodes">
    <app-qr-list [codes]="savedCodes"></app-qr-list>
  </ng-container>
</ion-content>
